* {
  margin: 0;
}
.far {
  font-size: 4em;
}
.desktop {
  width: 48em;
  height: 48em;
  border: 1px solid black;
}
.file-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
  padding: 0;
}
.file {
  width: 4em;
  height: 4em;
  text-align: center;
  box-sizing: border-box;
  border-radius: 50%;
  list-style: none;
}
.folder {
}
.icon {
}
.dragged {
  position: absolute;
}
.onDrag {
  color: gray;
}
.ghost {
  color: transparent;
  position: absolute;
  border: 0;
}
.win {
  font-size: 16em;
}
