* {
  margin: 0;
}
.desktop {
  width: 48em;
  height: 48em;
  border: 1px solid black;
}
.file-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: min-content;
  padding: 0;
}
.file {
  width: 4em;
  height: 4em;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 50%;
  list-style: none;
}
.folder {
  background-color: bisque;
}
.icon {
  background-color: aqua;
}
.dragged {
  position: absolute;
}
.onDrag {
  background-color: black;
  border: 1px solid gray;
}
