* {
  margin: 0;
}
#root {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.explorer {
  width: 12em;
  min-width: 12em;
  background-color: whitesmoke;
}
.file-list {
  list-style: none;
  min-width: 0;
  padding: 0;
}
.explorer-header {
  width: 100%;
  height: 2em;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.file-item {
  display: flex;
}
.item-text {
  flex: 7;
  padding-left: 0.5em;
  line-height: 2em;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  user-select: none;
}
.item-button {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.5em;
}
.item-button > i {
  font-size: 1em;
  line-height: 2em;
}

.editor {
  width: 100%;
  display: flex;
}
.file {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  box-sizing: border-box;
}
.file-header {
  display: flex;
  text-align: center;
  height: 2em;
  line-height: 2em;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}
.file-header_text{
  flex: 1;
  text-align: center;
}
.file-header_button{
  padding: 0 0.5em;
}
.file-content {
  flex: 1;
  border: 0;
  border-left: 1px solid black;
  outline-width: 0;
  padding: 1em;
}